@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');


.container{
    font-family: 'Quicksand', sans-serif;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.cover{
    width: auto;
    height: 55.32vh;
    margin-top: 5px;  
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.quant{
    width: 20%;
}

.moment{
    font-size: 23px;
    color: grey;
    padding: 10px;
}

.content{
    margin-top: 15px;
    font-size: 27px;
    color: black;
    padding: 10px;
}


.contentDesc{
    margin-top: 15px;
    font-size: 23px;
    color: black;
    padding: 10px;
}

.sectionTitle{
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
    color: #BF9004;
  } 

  .sectionCall{
    text-align: left;
    color: #58555A;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 60px;
    margin-top: 25px;
    text-decoration: none;
  }

@media (max-width: 1024px) {
    .container{
        width: 60%;
    }

    .cover{
        width: auto;
    height: 30.96vh;
    }
}

@media (max-width: 767px) {
    .container{
        width: 90%;
    }
    
    .cover{
        height: auto;
        margin-top: 2px;
    }      

    .sectionTitle{
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .moment{
        font-size: 18px;
    }
    .content{
        font-size: 23px;
    }  
    
    
    .contentDesc{
        font-size: 21px;
    }  
    
    .sectionCall{
        font-size: 15px;
        margin-bottom: 30px;
      }
    
    .quant{
        width: 40%;
    }
}