/* Hero & Banner Section */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.heroSection{
    width: 100%;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    height: 600px;   
    border-radius: 0px; 
    overflow: hidden;
  }

  .carousel{
      width: 63%;
      height: 600px;
      margin-right: 0.3%;
      background-color: white;
      margin-top: 5px;  
      border-radius: 10px; 
      overflow: hidden;
      border: 1px solid #adb5bd;
  }

  .heroRightCol{
    width: 36.7%;
    height: 600px;
    background-color: white;
    margin-top: 5px;  
    border-radius: 10px;
    overflow: hidden;
}

.RightPicTop{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 0;
    /* margin-bottom: 10px; */  
    /* border-radius: 10px; */ 
    overflow: hidden;
}

/* .RTopImage{
    height: 300px;
    
} */

.RightPicBottom{
    width: 100%;
    height: 300px;
    background-color: beige;  
    /* border-radius: 10px;  */
    overflow: hidden;
    margin-bottom: 0;
}

.bottomPictureTitle{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.bottomPictureText{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

div.markdown li{
	margin-bottom: 3px;
    font-size: 20px;
}
div.markdown a{
    color: white;
    text-decoration: underline;
    
}


.cardtitlewrap{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.cardtextwrap{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
    
.cardtext{    
    background-color: rgba(0, 0, 0, 0.3);
    color: beige;
    padding: 20px;
}
  /* End Hero & Banner Section */
  
  @media (max-width: 1024px) {
    .heroSection{
        height: 500px;
    }

    .carousel{
        height: 500px;
    }
    div.markdown li{
        margin-bottom: 3px;
        font-size: 17px;
    }

    .RightPicTop{
        height:50%;
    }

    .RightPicBottom{
        height: 50%;
    }

    .heroRightCol{
        height:500px;
    }
}

  @media (max-width: 767px) {
    .heroSection{
      margin-top: 0px;
      height: 100px;
      border-radius: 0px;
    } 

    .carousel{
        margin-top: 0;
        width: 100%;
        margin-right: 0px;
        height: auto;/* 250px; */
        border-radius: 0px;
        border: 0px solid #adb5bd;
    }
    
    .heroRightCol{
        margin-top: 0px;
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .RightPicTop{
        height: auto; /*175px;*/
        border-radius: 0px;
    }
    
    .cardtext{    
        padding: 15px;
    }
    /* .RTopImage{
        height: 175px;
    } */

    .RightPicBottom{
        height: 175px;
        border-radius:0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .bottomPictureTitle{
        font-size: 20px;
        -webkit-line-clamp: 1;
    }
    .bottomPictureText{
        font-size: 14px;
        -webkit-line-clamp: 5;
    }

    div.markdown li{
        margin-bottom: 3px;
        font-size: 14px;
    }

    .cardtitlewrap{
        font-size: 20px;
        -webkit-line-clamp: 2;
    }
    .cardtextwrap{
        font-size: 18px;
        -webkit-line-clamp: 6;
    }
  }