@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.carousel_captions{
    position: absolute;
    top: 200px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: beige;
    padding: 20px;
    /* white-space: nowrap; 
    width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 30%; */
}

.carouselImage{
    height: 600px;
}

.carouseltitle{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-weight: 250;
    margin-bottom: 10px;

}

.cardtextwrap{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


@media (max-width: 767px) {
    .carousel_captions{
        position: absolute;
        top: 50px;
        font-size: 10px;
        height: 50%;
        padding: 5px;
    }

    .carouseltitle{
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
        font-weight: bold;
        -webkit-line-clamp: 2;
        margin-bottom: 5px;
    }

    .cardtextwrap{
        -webkit-line-clamp: 3;
    }
    
    .carouselImage{
        height: 250px;
    }

    .slides{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}