.carousel_captions{
    position: absolute;
    top: 200px;
    /* white-space: nowrap; 
    width: 70%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 30%; */
}

.carouselImage{
    height: 400px;
}


@media (max-width: 767px) {
    .carousel_captions{
        position: absolute;
        top: 50px;
        font-size: 15px;
        height: 50%;
    }

    .carouseltitle{
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
    text-overflow: ellipsis; 
    }

    .carouselImage{
        height: 250px;
    }
}