/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.Menutitle{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  display:none;
}

.footerlink{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

@media (max-width: 767px) {
  .Menutitle{
    display:inline;
  } 

  #logo{
    display:none;
  } 
} */